ion-menu::part(backdrop) {
  background-color: rgba(255, 196,9);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 196, 9);
}

ion-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  flex-wrap:wrap;
  margin-top: 135px;
  margin-bottom: -372px;
}

ion-row {
  display: flex;
  gap: 80px;
  flex-wrap:wrap;
  margin: 20px;
  
}

ion-col {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  

}

ion-col p{
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.profil{
  background-color: #0672A0;
  color: white;
  width: 200px;
  height: 150px;

  margin-top: 70px;
  margin-left: 15px;
  
}

.evenements{
  background-color: #A0067E;
  color: white;
  width: 200px;
  height: 150px;

  margin-top: 70px;
  //margin-right: 10px;
}

.scan{
  background-color: #A03E06;
  color: white;
  width: 400px;
  height: 150px;

  margin-top: -360px;
  margin-left: 15px;
}

.presence{
  background-color: #37A006;
  color: white;
  max-width: 100px;
  max-height: 150px;

  margin-top: -360px;
  //margin-right: 15px;
}
.icone {
  font-size: 100px;
  margin-bottom: 10px;
  color: white;
  display:flex;
  justify-content: center;
  padding-left: 5px;
  padding-top: 15px;
}

.compte{
  font-size: 100px;
}

.bas{
  font-size: small;
  display: flex;
  justify-content: center;
}
.gerer{
  background-color: #A07E06;
  color: white;
  max-width: 100px;
  max-height: 150px;

  margin-top: -52px;
  margin-left: 15px;

}
.reclamation{
  background-color: #D20A0A;
  color: white;
  max-width: 100px;
  max-height: 150px;

  margin-top: -52px;
  margin-right: 10px;

}

.link{
  text-decoration: none;
  color: black;
}

.options{
  width: max-content;

 }

 .group{
   margin-left: -16px;
 }

 
 ion-accordion.accordion-expanding,
 ion-accordion.accordion-expanded {
   width: calc(100% - 32px);
 
   margin: 16px auto;
 
 }
 
 ion-accordion.accordion-collapsing ion-item[slot='header'],
 ion-accordion.accordion-collapsed ion-item[slot='header'] {
   --background: var(--ion-color-dark-contrast:);
   --color: var(--ion-color-light-contrast);
 }
 
 ion-accordion.accordion-expanding ion-item[slot='header'],
 ion-accordion.accordion-expanded ion-item[slot='header'] {
   --background: var(  --ion-color-danger-shade);
   --color: var(--ion-color-primary-contrast);
  
 }

 ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #170196;
  --color: white;
}

.evenement1{
  background-color: var(--ion-color-warning);
  color: white;
  border-radius: 10px;
}

.evenement1 h1{
  display: flex;
  justify-content: center;
}

.evenement2{
  background-color: var(--ion-color-danger);
  color: white;
  border-radius: 10px;
}

.evenement2 h1{
  display: flex;
  justify-content: center;

}


ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.ajout{
  background-color: var(--ion-color-warning);
  color: white;
  border-radius: 10px;
}

.ajout h1{
  display: flex;
  justify-content: center;
}

.modifier{
  background-color: var(--ion-color-danger);
  color: white;
  border-radius: 10px;
}

.modifier h1{
  display: flex;
  justify-content: center;
}

.supprimer{
  background-color: var(--ion-color-tertiary);
  color: white;
  border-radius: 10px;
}

.supprimer h1{
  display: flex;
  justify-content: center;
}