<ion-header>
  <ion-toolbar>
    <ion-title>Modifier Doctorant</ion-title>
    <ion-buttons slot="end">
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="nom" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input formControlName="prenom" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CIN</ion-label>
      <ion-input formControlName="cin" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!editForm.valid">Mettre à jour</ion-button>
    <ion-button expand="full" color="medium" (click)="dismiss()">Annuler</ion-button>
  </form>
</ion-content>