.options{
  width: max-content;

 }

 .group{
   margin-left: -16px;
 }

 
 ion-accordion.accordion-expanding,
 ion-accordion.accordion-expanded {
   width: calc(100% - 32px);
 
   margin: 16px auto;
 
 }
 
 ion-accordion.accordion-collapsing ion-item[slot='header'],
 ion-accordion.accordion-collapsed ion-item[slot='header'] {
   --background: var(--ion-color-dark-contrast:);
   --color: var(--ion-color-light-contrast);
 }
 
 ion-accordion.accordion-expanding ion-item[slot='header'],
 ion-accordion.accordion-expanded ion-item[slot='header'] {
   --background: var(  --ion-color-danger-shade);
   --color: var(--ion-color-primary-contrast);
  
 }

 .profil-admin{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-bottom: 10px;
 }

 .cadre {
  margin-top: 30px;
 }
 
 .article{
  background-color: var(--ion-color-primary-tint);
 }