
  .form-control ng-valid ng-touched ng-dirty{
    color:#170196;
  }
  .ng-star-inserted{
    margin-top: -600px;
    color:#170196;
    background-color: white;
  }
 #field_typeReclamationId{
  margin-top: -600px;
 }
 
  .tab{
    margin-top: -600px;
  }
  
