<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Réclamation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
</ion-content>
<table class="tab" border="1">
<select _ngcontent-ibq-c190="" class="form-control ng-valid ng-touched ng-dirty" 
id="field_typeReclamationId" name="typeReclamationId" >
<option _ngcontent-ibq-c190="" selected="" value="0: undefined" class="ng-star-inserted"
name="typeReclamationId">
</option>
<option _ngcontent-ibq-c190="" value="1: 2000419451" class="ng-star-inserted">Présence</option>
<option _ngcontent-ibq-c190="" value="1: 2000419451" class="ng-star-inserted">Autre Observation</option>
</select>
      <ion-textarea placeholder="Description" rows ="5" class="descrip" autoGrow ></ion-textarea>
  </table>
    


 
    
 