<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="image-body">
    
    <div class="image-login">
       <div class="doctorant"><p>
      <img src="../../assets/students.jpg"  (click)="goToLoginPage()">
        
      Espace Doctorants</p>
    </div>
      <div class="administrateur"><p><img src="../../assets/administrateur.jpg"  (click)="goToLoginPage()">
      Espace Administrateurs</p>
    </div> 
  </div>
  
  <footer>
    <p class="bas-page">Copyright &copy; 2024</p>
  </footer>
   </div> 
</ion-content>