<ion-app>
 
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Navigation</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-list>

        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label (click)="goToProfilPage()">Mon profil</ion-label>
        </ion-item>

        <ion-item>
          
          <ion-accordion-group class="group">
            <ion-accordion >
              <ion-item slot="header">
                <ion-icon name="list-outline" slot="start"></ion-icon>
                <ion-label class="options">Liste d'événements</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" (click)="goToPasserPage()">Passés</div>
              <div class="ion-padding" slot="content">A venir</div>
            </ion-accordion>
          </ion-accordion-group>

        </ion-item>
       

        <ion-item>
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label (click)="goToCreditPage()">Crédits</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="hand-left-outline" slot="start"></ion-icon>
          <ion-label (click)="goToPresencePage()">Consultation de présence
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
          <ion-label (click)="goToReclamPage()">Réclamation</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label routerLink="/login">Déconnexion</ion-label>
        </ion-item>

      </ion-list>
      
    </ion-content>

  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="../../assets/logo_pedoc.jpg" width="50px" height="60px" slot="end">
      </ion-toolbar>
    </ion-header>

<ion-content>

  <div class="titre3">
    <h3 class="ion-text-center">Les événements a venir </h3>
  </div>

  <table border="1" class ="tableaux">
    <thead class="titres">
      <tr  class="format">
        <th >
          <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;" >Evénements</font>
          </font>
  </th>
  <th>
          <font style="vertical-align: inherit;" >
          <font style="vertical-align: inherit;">Date d'événements</font>
          </font>
    
  </th>
  <th >
          <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Description</font>
          </font>
  </th>
    </tr>
  </thead>
  
  <tbody>
  
    <tr>
      <td>
            <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Journées d'accueil et d'intégration</font>
            </font>
      </td>
      <td >
        <code>17/06/2024</code>
      </td>
      <td>
        <code>Événement d'intégration à destination des nouveaux doctorants qui 
          présentent les ressources, les services et le cadre institutionnel de la formation doctorale,
          facilitant la socialisation et le réseautage entre les doctorants</code>
      </td>

    </tr>
  
    <tr>
      <td>
             <font style="vertical-align: inherit;">
             <font style="vertical-align: inherit;">Événement de mentorat</font>
             </font>
      </td>
  
      <td >
        <code>20/07/2024</code>
      </td>
      <td>
        <code>Met en relation des doctorants avec des chercheurs expérimentés (mentors),
          offrant un accompagnement personnalisé sur des questions de carrière, de gestion de projet, etc.
          comme il aide les doctorants à naviguer dans leur parcours de recherche et à atteindre leurs objectifs</code>
      </td>
    </tr>
  
    <tr>
      <td>
            <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Forums carrière</font>
            </font>
      </td>
  
      <td >
        <code>12/06/2024</code>
      </td>
      <td>
        <code> Événement permettant aux doctorants d'explorer les différentes voies professionnelles
          Il inclut des témoignages de docteurs en poste, des ateliers de préparation à l'emploi, etc.
          Comme il aide les doctorants à se projeter dans leur avenir professionnel, académique ou non</code>
      </td>
    </tr>
  
  
  
  
  </tbody>
  
  
  </table>

</ion-content>

<footer class="ion-text-center">Copyright &copy; PeDoc 2024, All rights reserved</footer>

  </div>

</ion-app>